<%= content_for(:back_button) do %>
  <%= link_to "Back", [:admin, :products] %>
<% end %>
<%= content_for(:forward_button) do %>
  <a href="<%= new_admin_product_style_path %>">
    <i class="fas fa-plus"></i>
  </a>
<% end %>

<div class="table-label">Available</div>
<div class="table-view">
  <% @product_styles.available.each do |product_style| %>
    <a href="<%= edit_admin_product_style_path(product_style) %>" class="table-view-cell">
      <div class="cell-body">
        <%= product_style.name %>
      </div>
      <div class="cell-info">
        <i class="fas fa-check green"></i>
      </div>
    </a>
  <% end %>
</div>

<% if @product_styles.unavailable.any? %>
  <div class="table-label">Unavailable</div>
  <div class="table-view">
    <% @product_styles.unavailable.each do |product_style| %>
      <a href="<%= edit_admin_product_style_path(product_style) %>" class="table-view-cell">
        <div class="cell-body">
          <%= product_style.name %>
        </div>
        <div class="cell-info">
          <i class="fas fa-times red"></i>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
