<%= content_for(:back_button) do %>
  <a href="<%= @user.present? ? admin_user_path(@user) : admin_candidates_path %>">Back</a>
<% end %>

<div class="table-view">
  <div class="table-view-cell">
    <div class="cell-body">Submitted Application</div>
    <div class="cell-info"><%= @candidate.created_at.to_formatted_s(:simple_with_time) %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">First Name</div>
    <div class="cell-info"><%= @candidate.fname %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Middle Name</div>
    <div class="cell-info"><%= @candidate.mname %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Last Name</div>
    <div class="cell-info"><%= @candidate.lname %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Email</div>
    <div class="cell-info"><%= @candidate.email %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Street Address</div>
    <div class="cell-info"><%= @candidate.address1 %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Street Address 2</div>
    <div class="cell-info"><%= @candidate.address2 %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">City</div>
    <div class="cell-info"><%= @candidate.city %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">State</div>
    <div class="cell-info"><%= @candidate.state %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Zip</div>
    <div class="cell-info"><%= @candidate.zip %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Cell Phone</div>
    <div class="cell-info"><%= @candidate.cell_phone %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Home Phone</div>
    <div class="cell-info"><%= @candidate.home_phone %></div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Citizen</div>
    <div class="cell-info">
      <% if @candidate.citizen? %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </div>
  </div>

  <div class="table-view-cell">
    <div class="cell-body">Felony</div>
    <div class="cell-info">
      <% if @candidate.felony? %>
        <i class="fas fa-check green"></i>
      <% else %>
        <i class="fas fa-times red"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="table-label">References</div>
<div class="table-view">
  <div class="table-view-cell">
    <div class="cell-detail note"><%= @candidate.references %></div>
  </div>
</div>

<div class="table-label">Education</div>
<div class="table-view">
  <div class="table-view-cell">
    <div class="cell-detail note"><%= @candidate.education %></div>
  </div>
</div>

<% if @candidate.user.blank? %>
  <div class="block">
    <%= link_to "Deny", admin_candidate_path(@candidate, deny: true), method: :patch, class: "danger btn" %>
    <%= link_to "Approve", admin_candidate_path(@candidate, approve: true), method: :patch, class: :btn %>
  </div>
<% end %>
