<div class="table-label">Project Management</div>
<div class="table-view">
  <a href="<%= admin_projects_path %>" class="table-view-cell">
    <div class="cell-body">Projects</div>
  </a>
  <a href="<%= admin_products_path %>" class="table-view-cell">
    <div class="cell-body">Products</div>
  </a>
  <a href="<%= admin_product_sizes_path %>" class="table-view-cell">
    <div class="cell-body">Product Sizes</div>
  </a>
</div>

<div class="table-label">Employee Management</div>
<div class="table-view">
  <a href="<%= admin_candidates_path %>" class="table-view-cell">
    <div class="cell-body">Applications</div>
  </a>
  <a href="<%= admin_users_path %>" class="table-view-cell">
    <div class="cell-body">Employees</div>
  </a>
</div>
