<div class="table-label">Project Management</div>
<div class="table-view">
  <%= link_to [:admin, :projects], class: "table-view-cell" do %>
    <div class="cell-body">Projects</div>
  <% end %>
  <%= link_to [:admin, :products], class: "table-view-cell" do %>
    <div class="cell-body">Products</div>
  <% end %>
  <%= link_to [:admin, :duties], class: "table-view-cell" do %>
    <div class="cell-body">Tasks</div>
  <% end %>
</div>

<div class="table-label">Employee Management</div>
<div class="table-view">
  <%= link_to [:admin, :candidates], class: "table-view-cell" do %>
    <div class="cell-body">Applications</div>
  <% end %>
  <%= link_to [:admin, :users], class: "table-view-cell" do %>
    <div class="cell-body">Employees</div>
  <% end %>
</div>
