<%= content_for(:header) do %>
  <header class="bar bar-title">
    <button class="btn btn-link btn-nav pull-left">
      <span class="icon icon-left-nav"></span>
      Left
    </button>
    <button class="btn btn-link btn-nav pull-right">
      Right
      <span class="icon icon-right-nav"></span>
    </button>

    <div class="title">NAFU</div>
  </header>
<% end %>

<%= content_for(:footer) do %>
  <nav class="bar bar-tab">
    <a class="tab-item active" href="#">
      <i class="fas fa-home"></i>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="<%= sup_path %>">
      <i class="fas fa-user"></i>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="#">
      <i class="fas fa-star"></i>
      <span class="tab-label">Favorites</span>
    </a>
    <a class="tab-item" href="#">
      <i class="fas fa-search"></i>
      <span class="tab-label">Search</span>
    </a>
    <a class="tab-item" href="#">
      <i class="fas fa-cog"></i>
      <span class="tab-label">Settings</span>
    </a>
  </nav>
<% end %>

<ul class="table-view">
  <li class="table-view-cell">
    <a class="navigate-right">
      Item 1
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      Item 2
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      Item 3
    </a>
  </li>
</ul>

<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Item 1
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Item 1
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <img class="media-object pull-left" src="http://placehold.it/42x42">
      <div class="media-body">
        Item 1
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
</ul>

<ul class="table-view">
  <li class="table-view-cell">
    Item 1
    <%= slider("item-1") %>
  </li>
  <li class="table-view-cell">
    Item 2
    <%= slider("item-2") %>
  </li>
  <li class="table-view-cell">
    Item 3
    <%= slider("item-3") %>
  </li>
  <li class="table-view-cell">
    Item 4
    <%= slider("chck-4") %>
  </li>
</ul>

<div class="card">
  <ul class="table-view">
    <li class="table-view-cell">Item 1</li>
    <li class="table-view-cell">Item 2</li>
    <li class="table-view-cell table-view-divider">Divider</li>
    <li class="table-view-cell">Item 3</li>
    <li class="table-view-cell">Item 4</li>
  </ul>
</div>

<button class="btn">
  <span class="icon icon-search"></span>
  Button
</button>
<button class="btn btn-primary">
  <span class="icon icon-search"></span>
  Button
</button>
<button class="btn btn-positive">
  <span class="icon icon-search"></span>
  Button
</button>
<button class="btn btn-negative">
  <span class="icon icon-search"></span>
  Button
</button>
<button class="btn btn-link">
  <span class="icon icon-left"></span>
  Button
</button>

<div class="segmented-control">
  <a class="control-item active" href="#item1mobile">
    Thing one
  </a>
  <a class="control-item" href="#item2mobile">
    Thing two
  </a>
  <a class="control-item" href="#item3mobile">
    Thing three
  </a>
</div>
<div class="card">
  <span id="item1mobile" class="control-content active">Item 1</span>
  <span id="item2mobile" class="control-content">Item 2</span>
  <span id="item3mobile" class="control-content">Item 3</span>
</div>

<form>
  <input type="text" placeholder="Full name">
  <input type="search" placeholder="Search">
  <textarea rows="5"></textarea>
  <button class="btn btn-positive btn-block">Choose existing</button>
</form>

<form class="input-group">
  <input type="text" placeholder="Full name">
  <input type="email" placeholder="Email">
  <input type="text" placeholder="Username">
</form>

<form class="input-group">
  <div class="input-row">
    <label>Full name</label>
    <input type="text" placeholder="Mister Ratchet">
  </div>
  <div class="input-row">
    <label>Email</label>
    <input type="email" placeholder="ratchetframework@gmail.com">
  </div>
  <div class="input-row">
    <label>Username</label>
    <input type="text" placeholder="goRatchet">
  </div>
</form>
