<%= content_for(:header) do %>
  <header class="bar bar-title">
    <div class="title">NAFU</div>
  </header>
<% end %>

<%= content_for(:footer) do %>
  <nav class="bar bar-tab">
    <a class="tab-item active" href="<%=  %>">
      <i class="fas fa-home"></i>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="<%= sup_path %>">
      <i class="fas fa-user"></i>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="<%=  %>">
      <i class="fas fa-star"></i>
      <span class="tab-label">Favorites</span>
    </a>
    <a class="tab-item" href="<%=  %>">
      <i class="fas fa-search"></i>
      <span class="tab-label">Search</span>
    </a>
    <a class="tab-item" href="<%=  %>">
      <i class="fas fa-cog"></i>
      <span class="tab-label">Settings</span>
    </a>
  </nav>
<% end %>

<div class="table-view">
  <a href="<%=  %>" class="table-view-cell">
    <div class="cell-detail">
      Item 1
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
  <a href="<%=  %>" class="table-view-cell">
    <div class="cell-detail">
      Item 2
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
  <a href="<%=  %>" class="table-view-cell">
    <div class="cell-detail">
      Item 3
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
</div>

<div class="table-view">
  <a href="<%=  %>" class="table-view-cell media">
    <img class="media-object pull-left" src="http://placehold.it/100x100">
    <div class="media-body table-detail">
      Item 1
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
  <a href="<%=  %>" class="table-view-cell media">
    <img class="media-object pull-left" src="http://placehold.it/100x100">
    <div class="media-body table-detail">
      Item 2
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
  <a href="<%=  %>" class="table-view-cell media">
    <img class="media-object pull-left" src="http://placehold.it/100x100">
    <div class="media-body table-detail">
      Item 3
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
    </div>
    <i class="fas fa-chevron-right"></i>
  </a>
</div>

<div class="table-view">
  <div class="table-view-cell">
    <div class="cell-detail">
      Item 1
    </div>
    <%= slider("item-1") %>
  </div>
  <div class="table-view-cell">
    <div class="cell-detail">
      Item 2
    </div>
    <%= slider("item-2") %>
  </div>
  <div class="table-view-cell">
    <div class="cell-detail">
      Item 3
    </div>
    <%= slider("item-3") %>
  </div>
  <div class="table-view-cell">
    <div class="cell-detail">
      Item 4
    </div>
    <%= slider("chck-4") %>
  </div>
</div>

<div class="card">
  <div class="table-view">
    <div class="table-view-cell">Card Item 1</div>
    <div class="table-view-cell">Card Item 2</div>
    <div class="table-view-cell">Card Item 3</div>
    <div class="table-view-cell">Card Item 4</div>
  </div>
</div>

<form>
  <div class="table-view">
    <input type="text" placeholder="Full name">
    <input type="text" placeholder="Search">
  </div>

  <div class="table-view">
    <input type="text" placeholder="Title">
    <textarea rows="5" placeholder="Notes"></textarea>
    <button class="btn btn-positive btn-block">Choose existing</button>
  </div>
</form>

<form class="table-view">
  <input type="text" placeholder="Full name">
  <input type="email" placeholder="Email">
  <input type="text" placeholder="Username">
</form>

<form>
  <div class="table-view">
    <div class="input-group">
      <div class="input-row">
        <label>Full name</label>
        <input type="text" placeholder="Mister Ratchet">
      </div>
      <div class="input-row">
        <label>Email</label>
        <input type="email" placeholder="ratchetframework@gmail.com">
      </div>
      <div class="input-row">
        <label>Username</label>
        <input type="text" placeholder="goRatchet">
      </div>
    </div>
  </div>
</form>
