<%= content_for(:back_button) do %>
  <% if @project.persisted? %>
    <a href="<%= admin_project_path(@project) %>">Back</a>
  <% else %>
    <a href="<%= admin_projects_path %>">Back</a>
  <% end %>
<% end %>

<%= form_for [:admin, @project], data: parsley(:validate, trigger: :blur) do |f| %>
  <%= render partial: "layouts/errors_container", locals: { resource: @project } %>

  <div class="table-label">Name</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.text_field :name, { data: parsley(:required) } %>
    </div>
  </div>

  <div class="table-label">Description</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="table-label">Start Date</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.text_field :start_date, value: @project.start_date.try(:rfc2822)&.split(" 00").try(:first), class: :datepicker %>
    </div>
  </div>

  <div class="table-label">End Date</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.text_field :end_date, value: @project.end_date.try(:rfc2822)&.split(" 00").try(:first), class: :datepicker %>
    </div>
  </div>

  <div class="block">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>

<% if @project.persisted? && @project.assignments.none? %>
  <p class="text-center">
    <%= link_to "Delete Project", admin_project_path(@project), class: "danger", method: :delete, data: { confirm: "Are you sure you want to destroy this project?\nThis is permanent and cannot be undone." } %>
  </p>
<% end %>
