<!-- Should be able to add/edit specific goals -->
<div class="table-view">
  <div class="table-view-cell">
    <%= render partial: "title_cell", locals: { project: @project } %>
  </div>
</div>

<div class="table-view">
  <% @project.goals.each do |goal| %>
    <div class="table-view-cell">
      <div class="cell-body">
        <ul class="task-cell">
          <li><%= goal.product.name %></li>
          <li><%= goal.product_size.name %></li>
        </ul>
        <%= number_with_delimiter(goal.current_amount.to_i) %> / <%= number_with_delimiter(goal.desired_amount.to_i) %>
        <div class="progress-wrapper">
          <progress value="<%= goal.current_amount %>" max="<%= goal.desired_amount %>"><%= goal.progress_percentage %>%</progress>
        </div>
      </div>
    </div>
  <% end %>
</div>
