<%= content_for(:back_button) do %>
  <a href="<%= admin_projects_path %>">Back</a>
<% end %>

<div class="table-view">
  <a href="<%= edit_admin_project_path(@project) %>" class="table-view-cell">
    <%= render partial: "title_cell", locals: { project: @project } %>
  </a>
</div>

<div class="table-label text-right">
  <%= link_to "Add Product", new_admin_project_goal_path(@project) %>
</div>
<div class="table-view">
  <% @project.goals.each do |goal| %>
    <a href="<%= edit_admin_project_goal_path(@project, goal) %>" class="table-view-cell">
      <div class="cell-body">
        <ul class="task-cell">
          <li><%= goal.product.name %></li>
          <li><%= goal.product_style.name %></li>
        </ul>
        <% infinite = !goal.desired_amount.to_i.positive? %>
        <%= number_with_delimiter(goal.current_amount.to_i) %> / <%= infinite ? "∞" : number_with_delimiter(goal.desired_amount.to_i) %>
        <div class="progress-wrapper">
          <% if infinite %>
            <progress value="1" max="1">∞</progress>
          <% else %>
            <progress value="<%= goal.current_amount %>" max="<%= goal.desired_amount %>"><%= goal.progress_percentage %>%</progress>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>
