<%= content_for(:back_button) do %>
  <a href="<%= params[:user_id].present? ? admin_user_path(params[:user_id]) : admin_path %>">Back</a>
<% end %>

<div class="table-view">
  <% @shifts.each do |shift| %>
    <%= link_to admin_shift_path(shift), class: "table-view-cell" do %>
      <div class="cell-body">
        <h3><%= shift.user.full_name %></h3>
        <p><%= shift.title %></p>
        <small>Tasks: <%= shift.assignments.count %></small>
      </div>
    <% end %>
  <% end %>
</div>
