<%= content_for(:back_button) do %>
  <a href="<%= admin_path %>">Back</a>
<% end %>
<%= content_for(:forward_button) do %>
  <a href="<%= new_admin_product_path %>">
    <i class="fas fa-plus"></i>
  </a>
<% end %>

<div class="table-label">Available</div>
<div class="table-view">
  <% @products.available.each do |product| %>
    <a href="<%= edit_admin_product_path(product) %>" class="table-view-cell">
      <div class="cell-body">
        <%= product.name %>
      </div>
      <div class="cell-info">
        <i class="fas fa-check green"></i>
      </div>
    </a>
  <% end %>
</div>

<% if @products.unavailable.any? %>
  <div class="table-label">Unavailable</div>
  <div class="table-view">
    <% @products.unavailable.each do |product| %>
      <a href="<%= edit_admin_product_path(product) %>" class="table-view-cell">
        <div class="cell-body">
          <%= product.name %>
        </div>
        <div class="cell-info">
          <i class="fas fa-times red"></i>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
