<%= content_for(:back_button) do %>
  <a href="<%= admin_path %>">Back</a>
<% end %>

<div class="table-label">Available</div>
<div class="table-view">
  <% @products.available.each do |product| %>
    <a href="<%= edit_admin_product_path(product) %>" class="table-view-cell">
      <div class="cell-body">
        <%= product.name %>
      </div>
      <div class="cell-info">
        <% if product.available? %>
          <i class="fas fa-check green"></i>
        <% else %>
          <i class="fas fa-cross red"></i>
        <% end %>
      </div>
    </a>
  <% end %>
</div>

<% return if @products.unavailable.none? %>
<div class="table-label">Unavailable</div>
<div class="table-view">
  <% @products.unavailable.each do |product| %>
    <a href="<%= edit_admin_product_path(product) %>" class="table-view-cell">
      <div class="cell-body">
        <%= product.name %>
      </div>
      <div class="cell-info">
        <% if product.available? %>
          <i class="fas fa-check green"></i>
        <% else %>
          <i class="fas fa-cross red"></i>
        <% end %>
      </div>
    </a>
  <% end %>
</div>
