<%= content_for(:back_button) do %>
  <a href="<%= admin_product_sizes_path %>">Back</a>
<% end %>

<%= form_for [:admin, @product_size], data: parsley(:validate, trigger: :blur) do |f| %>
  <%= render partial: "layouts/errors_container", locals: { resource: @product_size } %>

  <div class="table-label">Name</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.text_field :name, { data: parsley(:required) } %>
    </div>
  </div>

  <div class="table-label">Amount per tray</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.number_field :amount_per_tray, class: "super-input", data: parsley(:required), pattern: "[0-9]*" %>
    </div>
  </div>

  <div class="table-label">Expected time per tray (Minutes)</div>
  <div class="table-view">
    <div class="input-row">
      <%= f.number_field :expected_time_in_minutes, class: "super-input" %>
    </div>
  </div>

  <div class="table-label">Available for display?</div>
  <div class="table-view">
    <div class="table-view-cell">
      <div class="cell-body">
        Available
      </div>
      <%= slider(f, :available) %>
    </div>
  </div>

  <div class="block">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>
