<div class="profile container">
  <div class="avatar img-med">
    <%= image_tag @user.avatar_url %>
  </div>

  <div class="table-view">
    <div class="table-view-cell">
      <div class="cell-body"><%= @user.fname %> <%= @user.lname %></div>
      <div class="cell-detail">#<%= @user.id %></div>
    </div>
    <div class="table-view-cell"><%= @user.phone %></div>
    <div class="table-view-cell"><%= @user.role.titleize %></div>
  </div>
</div>

<p class="text-center">
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</p>
