<div class="profile container">
  <div class="avatar img-med">
    <% if @user.avatar.attached? %>
      <%= image_tag url_for(@user.avatar) %>
    <% else %>
      <%= image_tag "default-avatar.png" %>
    <% end %>
  </div>

  <div class="table-view">
    <div class="table-view-cell">
      <div class="cell-body"><%= @user.fname %> <%= @user.lname %></div>
      <div class="cell-detail">#<%= @user.id %></div>
    </div>
    <div class="table-view-cell"><%= @user.phone %></div>
    <div class="table-view-cell"><%= @user.role.titleize %></div>
  </div>
</div>
