<div class="vertical-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="table-view">
      <div class="input-row">
        <%= f.email_field :email, placeholder: :Email, autofocus: true, autocomplete: :email %>
      </div>
      <div class="input-row">
        <%= f.password_field :password, placeholder: :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="block">
      <%= f.submit "Login", class: "btn" %>
    </div>
  <% end %>

  <%= render "devise/user/shared/links" %>
</div>
