<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= render partial: "layouts/meta_tags" %>
  </head>
  <body>

    <% if !@hide_header %>
      <header class="bar bar-title">
        <%= content_for(:header_buttons) %>
        <div class="title"><%= @title || "--" %></div>
      </header>
    <% end %>

    <div class="content"><%= yield %></div>

    <% if !@hide_footer %>
      <%= render partial: "layouts/footer_nav" %>
    <% end %>

  </body>
</html>
