<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= render partial: "layouts/meta_tags" %>
  </head>
  <body>
    <% if current_user.try(:team_lead?) %>
      <%= javascript_include_tag "channels/shift_leads_channel.js" %>
    <% end %>

    <%= render 'layouts/flashes' %>

    <% if !@hide_header %>
      <header class="bar bar-title">
        <div class="back-button"><%= content_for(:back_button) %></div>
        <div class="title"><%= @title || "--" %></div>
        <div class="forward-button"><%= content_for(:forward_button) %></div>
      </header>
    <% end %>

    <div class="content"><%= yield %></div>

    <% if !@hide_footer %>
      <%= render partial: "layouts/footer_nav" %>
    <% end %>

  </body>
</html>
